<!DOCTYPE html>
<html lang="en">
<%- include('head') -%>
<body>
    <%- include('header') -%>
    <div class="container-div">
      <form action="/logout" method="post">
        <button>Logout</button>
      </form>
      <h2>Hello in our APP</h2>    
    </div>
</body>
</html>
  
    
    
  
 